body{
    margin: 0px;
}
#calendar{
    float: left;
    padding: 25px;
    width: calc(80% - 50px);
    height: 750px;
    background-color: darkslategrey;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: calc(20% - 2px);
    height: 800px;
    background-color: teal;
    border-left: 2px solid white;
}
#menu_inner{
    text-align: center;
}
.box{
    float: left;
    width: 14%;
    height: calc(750px / 6);
    background-color: white;
    border: 1px solid darkslategrey;
    font-weight: bold;
    font-size: larger;
}
.note{
    margin: 0px;
    font-weight: 100;
    font-size: medium;
    text-align: center;
    overflow: hidden;
}